.about_container p{
    width: 90%; 
    background-color: rgb(176, 126, 224); 
    color: rgb(0, 0, 0); 
    font-size: 25px; 
    border-radius: 10px;
    margin-top: 20px; 
    padding: 20px; 
    font-weight: bold;
}

.about_container{
    margin-top: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}